In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
import datetime as dt
%matplotlib inline

import requests
import json
import calendar
import time

In [33]:
tweets_df = pd.read_pickle('./Data/Cleaned/processed_data.pkl')
xrp = pd.read_pickle('./Data/Cleaned/xrp_price_data_hourly.pkl')

In [34]:
tweets_df['datetime'] = tweets_df['datetime'].apply(lambda x : x.to_pydatetime())

In [35]:
def cielDatetime(d):
    delta = 3600-((d.minute*60+d.second)%3600)
    
    td = dt.timedelta(seconds=delta)
    return d.to_pydatetime()+td

In [36]:
tweets_df['rounded_dateTime'] = tweets_df['datetime'].apply(lambda t : cielDatetime(t))

In [37]:
tweets_df['timeId'] = tweets_df['rounded_dateTime'].apply(lambda t : time.mktime(t.timetuple()))

In [39]:
xrpDelta = xrp.set_index('time')
xrpDelta.sort_index(inplace=True)
xrpDelta = xrpDelta.diff()

In [40]:
prev = xrp.set_index('time')
temp = pd.concat([pd.Series([np.nan]), xrp['close']]).reset_index(drop=True)
prev['close'] = temp[0:298].values

In [41]:
xrpDelta['pDelta'] = xrpDelta['close']/prev['close']
xrpDelta['pDelta'][0] = 0.027

In [42]:
xrpDelta = xrpDelta.reset_index('time')
xrpDelta = xrpDelta[['time', 'pDelta']]
xrpDelta['timeId'] = xrpDelta['time'].apply(lambda t : time.mktime(t.timetuple()))

def deltaConvert(d):
    if d > 0.005:
        return 'positive'
    elif d < -0.005:
        return 'negative'
    else:
        return 'neutral'

xrpDelta['change'] = xrpDelta['pDelta'].apply(lambda price : deltaConvert(price))

In [45]:
xrpDelta.head()

                 time    pDelta        timeId    change
0 2018-04-13 04:00:00  0.027000  1.523606e+09  positive
1 2018-04-13 05:00:00 -0.014048  1.523610e+09  negative
2 2018-04-13 06:00:00  0.014717  1.523614e+09  positive
3 2018-04-13 07:00:00  0.000926  1.523617e+09   neutral
4 2018-04-13 08:00:00  0.059349  1.523621e+09  positive

In [46]:
fullData = pd.merge(tweets_df, xrpDelta, how='left', on='timeId')
fullData = fullData[np.isfinite(fullData['pDelta'])]

In [49]:
fullData.head()

,ID,datetime,is_reply,is_retweet,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet,has_media,medias,rounded_dateTime,timeId,time,pDelta,change
17,9.878790e+17,2018-04-21 22:21:19,0.0,0.0,0.0,0.0,0.0,"RT SatoshiLite ""joe77marshall ltc_monkey Sor...",/OritHonig/status/987878986998001664,709767195644010496,OritHonig,NaN,NaN,2018-04-21 23:00:00,1.524366e+09,2018-04-21 23:00:00,-0.000823,neutral
28,9.882504e+17,2018-04-22 22:57:09,1.0,0.0,3.0,0.0,0.0,The Fees are Outrageous!\nI speak from exper...,/AllanFree3/status/988250393338634240,2213257946,AllanFree3,NaN,NaN,2018-04-22 23:00:00,1.524452e+09,2018-04-22 23:00:00,-0.021839,negative
29,9.879333e+17,2018-04-22 01:57:06,1.0,0.0,2.0,0.0,0.0,From the horses (Chikuns)mouth...We love you ...,/Litecoin_Turtle/status/987933292354768898,3393014032,Litecoin_Turtle,NaN,NaN,2018-04-22 02:00:00,1.524377e+09,2018-04-22 02:00:00,0.017241,positive
37,9.875357e+17,2018-04-20 23:37:15,1.0,0.0,13.0,2.0,1.0,Yep sadly Coinbase is just another wannabe cen...,/Crypto2U/status/987535710642061312,913946038775422976,Crypto2U,NaN,NaN,2018-04-21 00:00:00,1.524283e+09,2018-04-21 00:00:00,0.003657,neutral
42,9.855747e+17,2018-04-15 13:44:55,1.0,0.0,0.0,0.0,0.0,So if you find yourself in the unenviable posi...,/Cryptof59611158/status/985574705854808064,969547785937833986,Cryptof59611158,NaN,NaN,2018-04-15 14:00:00,1.523815e+09,2018-04-15 14:00:00,0.004262,neutral

In [50]:
fullData.to_pickle('./Data/Cleaned/completeData.pkl')